@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#drawingCanvas {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100%;
  padding: 1%;
  border: 3px solid black;
  font-family: 'Montserrat', sans-serif;
}

.rect {
  position: absolute;
  border: 3px solid black;
  background-color: lightgray;
  z-index: 1;
}

#sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100%;
  background-color: lightblue;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
}

.functionButtons {
  justify-content: center;

  display: flex;
  flex-direction: row;
  height: auto;
}

#drawBtn {
}

.funcBtn {
  cursor: pointer;
  margin: 1%;
  padding: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.rectangleData {
  text-align: center;
  /* height: 75%; */
}
#rectList {
  list-style-type: none;
  padding: 0;
}
.selected {
  border: 3px solid blue;
}
