@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  height: 100%;
  /* padding: 0;
  margin: 0; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}

.drawingCanvas {
  width: 75%;
  height: 50%;
  border: 1px solid black;
  user-select: none;
  display: flex;
  position: relative;
  /* align-self: center; */
}

.htmlElement {
  border: 1px solid black;
  position: relative;
}

.funcBtns {
  display: flex;
  flex-direction: row;
  margin: 1%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.draw-btn {
  padding: 1%;
  margin: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.resetButton {
  padding: 1%;
  margin: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn {
  padding: 1%;
  margin: 1%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
